:root {
    line-height: 1.4;
    font-size: 14px;
    color: hsla(216,33%,97%);
    font-family: sans-serif;
    --darkgray: rgb(31,31,31);
    --emerald500: #10b77f;
    --emerald900: #05382b;
}
h1, body, dl, dt, dd {
    margin: 0;
    padding: 0;
}
textarea {
    color: inherit
}
body {
    position: relative;
    height: 100vh;
    background: linear-gradient(transparent 100vh,#171f25 100vh,#0f1519),#171f25;
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: 1fr minmax(0,66rem) 1fr;
    grid-template-rows: 66px auto 66px;
    grid-template-areas:    "header header header"
                            ". main ."
                            "footer footer footer";
}
body::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient( 177deg, transparent 60vh, #171f25 100vh), url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8fd505b7-1d62-42fa-ae28-60294fb112fa/dagxy78-e603ec01-1545-422c-bf33-0fa43fb92fdf.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOGZkNTA1YjctMWQ2Mi00MmZhLWFlMjgtNjAyOTRmYjExMmZhXC9kYWd4eTc4LWU2MDNlYzAxLTE1NDUtNDIyYy1iZjMzLTBmYTQzZmI5MmZkZi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.i0RtvYpr2-2wfp-sHvx7dcQHCB2ct79iJJh6Gfm1vE8');
    background-repeat: no-repeat;
    background-size: cover;
    will-change: transform;
    z-index: -1;
}
body header {
    grid-area: header;
    background-color: #131a20;
}
body header h1 {
    max-width: 66rem;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
}
body #main {
    grid-area: main;
}
body #main form {
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: var(--darkgray);
    border: solid 1px gray;
}
body #main form dl > * {
    margin-bottom: 1rem;
}
body #main form dl > :last-child {
    margin-bottom: 0;
}
body #main form dl dd textarea {
    border: solid 1px gray;
    background-color: var(--darkgray);
    width: calc(100% - 0.75rem * 2);
    resize: none;
    padding: 0.75rem;
}
body #main form dl dd input {
    border: solid 1px var(--emerald500);
    border-radius: 0.3rem;
    background: none;
    color: var(--emerald500);
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}
body #main form dl dd input:hover {
    color: var(--emerald900);
    background-color: var(--emerald500);
}
body #main .response > span {
    background-color: var(--darkgray);
    border: solid 1px gray;
    display: flex;
    padding: 2rem;
    font-size: 2rem;
}
body #main .response #prediction_message {
    margin-left: 0.5rem;
}

body footer {
    grid-area: footer;
    background-color: #131a20;
}